/* ============================= */
/*  GLOBAL STYLES                */
/* ============================= */
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    margin-top: 150px;
    background: #eaf6ec;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #2f4f4f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a, a:visited {
    color: #2f4f4f;
    text-decoration: none;
    font-weight: bold;
}
.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 180px;
}